<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">

            <mat-card>

            <mat-toolbar color="primary" style="background-color: #F44336">
              <span>Projects</span>
              <span class="spacer" style="align:right;"></span>
              <button mat-icon-button (click)="refresh()">
                <mat-icon>refresh</mat-icon>
              </button>
              <span class="example-fill-remaining-space"></span>
                <button mat-raised-button layout-align="right" (click)="getExcel()"><span style="color:#929292">Export to XLSX</span></button>
            </mat-toolbar>
            
            <div class="container mat-elevation-z8">
            
              <div class="form">
                <mat-form-field floatPlaceholder="never" color="accent">
                  <input matInput #filter placeholder="Filter issues">
                </mat-form-field>
              </div>

              <div class="form">
                  <mat-form-field color="accent">
                      <mat-select placeholder="Clients">
                          <mat-option *ngFor="let client of client_vals" [value]="client">
                              {{client}}
                            </mat-option>            
                      </mat-select>          
                  </mat-form-field>
              </div>
      

              <ul *ngFor="let d of issue">
                <li>{{d.sow_id}}</li>
              </ul>

            
              <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
            
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
            
                <!-- ID Column -->
                <ng-container matColumnDef="project_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>project_id</mat-header-cell>
                  <mat-cell *matCellDef="let row" >{{row.project_id}}</mat-cell>
                </ng-container>
            
                                <!-- ID Column -->
                                <ng-container matColumnDef="sow_id">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>sow_id</mat-header-cell>
                                    <mat-cell *matCellDef="let row" >{{row.sow_id}}</mat-cell>
                                  </ng-container>

                                                  <!-- ID Column -->
                <ng-container matColumnDef="project_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell *matCellDef="let row" >{{row.project_name}}</mat-cell>
                  </ng-container>

                                  <!-- ID Column -->
                <ng-container matColumnDef="project_startdate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project StartDate</mat-header-cell>
                    <mat-cell *matCellDef="let row" >{{row.project_startdate}}</mat-cell>
                  </ng-container>

                                  <!-- ID Column -->
                <ng-container matColumnDef="project_enddate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project EndDate</mat-header-cell>
                    <mat-cell *matCellDef="let row" >{{row.project_enddate}}</mat-cell>
                  </ng-container>
  

                <!-- actions -->
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>
                    <button mat-icon-button color="primary" (click)="addNew()">
                      <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button>
                  </mat-header-cell>
            
                  <mat-cell *matCellDef="let row; let i=index;">
                    <button mat-icon-button color="accent" (click)="startEdit(i, row.project_id,row.sow_id,row.project_name,row.project_startdate,row.project_enddate)">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
            
                    <button mat-icon-button color="accent" (click)="deleteItem(i, row.project_id,row.sow_id,row.project_name,row.project_startdate,row.project_enddate)">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            

              <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                No results
              </div>
            
              <mat-paginator #paginator
                             [length]="dataSource.filteredData.length"
                             [pageIndex]="0"
                             [pageSize]="10"
                             [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </div>
            
            </mat-card>
          </div>
      </div>
  </div>
</div>


